

body {
    background-color: #121212;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
}



.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.header-text {
    text-align: center;
    padding: 20px 0;
}


