body {
    background-color: #121212;
    color: orange;
    
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
}


table {
    color: orange;
}

    table th, table td {
        color: orange;
        table tbody tr:hover

{
    background-color: #333333;
}
